@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #1a1b26;
  color: #a9b1d6;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #16161e;
}

::-webkit-scrollbar-thumb {
  background: #292e42;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f7768e;
}